Package: com.p2kdev.dusky
Name: Dusky
Depends: mobilesubstrate
Version: 1.1.3
Architecture: iphoneos-arm
Description: Reduces the Transparency on selected elements!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
